### 5,10, 15 agentes

- Age [25,60]
- Qualifications [0,4] "nurse;cpr;physio;doctor"
- Location ????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- Availabilities "15;39"

### 5, 8, 10 servicios

- Age [70,90]
- Type [0,4] "nurse;cpr;physio;doctor"
- Location ?????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- TimeSlot dos numeros entre 15 i 39

In [47]:
import pandas as pd
import numpy as np
from random import randrange,sample,randint,shuffle
from geopy.distance import distance
#Configuracions de (A,U,S=U*(4 o 5)): (12,30),(15,30),(20,30). 20 instancies per setting, timeout=1h
#Resultats: #resoltes (va be tenir unsats per veure), valor dels 3 components de la funcio objectiu
#Encoding estratificat per les UNSAT, opcionalment es poden fer els serveis

#ARGS: U, A, V tal que S=U*V
#QUE faci un print enlloc de write a instancia.txt
U = 30 #Nombre d'usuaris
A = 12 #Nombre d'agents
V = 5
S = U*V #Nombre de serveis {}
TS = 12*5 #Nombre de time slots
dist = [2.5,5,15,25,35,45,60,70,80,90,95,100]

gender_labels = ['M','F']
religion_labels = ['A','B','C']
languages_labels = ["spanish", "catalan", "english"]
type_labels_agents = ["basic", "nurse", "cpr", "physio", "doctor"]
type_labels_services = ["basic","basic","basic", "nurse", "cpr", "physio", "doctor"]
race_labels = ["white", "latin-american", "black", "asian"]

lat =[
"41.3815752781548","41.3559120196836","41.3482745236520","41.4629832100058",
"41.4205718274176","41.4200823434142","41.4410422907494","41.4131703459941",
"41.3680119940713","41.2902486755464","41.2965206008947","41.2980521776798",
"41.2986079051265","41.4255770243766","41.4092758094591", "41.3815752781548",
"41.3559120196836","41.3482745236520","41.4629832100058","41.4205718274176",
"41.4200823434142","41.4410422907494","41.4131703459941","41.3680119940713",
"41.2902486755464","41.2965206008947","41.2980521776798","41.2986079051265",
"41.4255770243766","41.4092758094591"]

long =[
"1.98513272094305","2.11713228334789","2.26488244348681","2.24786162179945",
"2.15257024090813","2.07977758336782","2.13520828449359","2.25664519810334",
"2.16001633375526","2.21418980601852","2.09379793713258","2.20410100139758",
"2.14110807067940","2.14907409962812","2.25351119355848","1.98513272094305",
"2.11713228334789","2.26488244348681","2.24786162179945","2.15257024090813",
"2.07977758336782","2.13520828449359","2.25664519810334","2.16001633375526",
"2.21418980601852","2.09379793713258","2.20410100139758","2.14110807067940",
"2.14907409962812","2.25351119355848" ]

In [48]:
def create_random_labels(labels, min_labels, max_labels, num):
    rows = []
    for i in range(num):
        rows.append([x for x in sample(labels, randrange(min_labels,max_labels+1))])
    return rows

In [59]:

df_agents = pd.DataFrame()

df_agents['Id'] = [x for x in range(A)]
df_agents['Age'] = [randint(25, 60) for x in range(A)]
df_agents['Qualifications'] = create_random_labels(type_labels_agents, 1, 3, A)
df_agents['Location'] = [";".join(x) for x in zip(*[sample(lat,A), sample(long,A)])]
df_agents['Region'] = np.random.choice(religion_labels, A)
df_agents['Gender'] = np.random.choice(gender_labels, A)
df_agents['Languages'] = create_random_labels(languages_labels, 1, 2, A)
df_agents['Race'] = np.random.choice(race_labels, A)

TSA = []
for a in range(A):
    hours=randint(4, 12) #Que treballin!
    if randint(0,1):
        TSA.append(([1]*hours+[0]*(12-hours))*5)
    else:
        TSA.append(([0]*(12-hours)+[1]*hours)*5)

df_agents['TSA'] = TSA

#df_agents

In [60]:
df_agents

,Id,Age,Qualifications,Location,Region,Gender,Languages,Race,TSA
0,0,56,"[physio, doctor]",41.4131703459941;2.25351119355848,B,M,[spanish],white,"[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
1,1,57,"[cpr, physio, nurse]",41.3815752781548;2.20410100139758,B,F,"[catalan, english]",latin-american,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ..."
2,2,29,"[basic, physio]",41.4629832100058;2.21418980601852,A,F,[catalan],white,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
3,3,57,[nurse],41.3815752781548;2.13520828449359,B,M,[english],black,"[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, ..."
4,4,25,[doctor],41.3482745236520;2.25664519810334,C,F,[spanish],latin-american,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
5,5,26,"[doctor, physio]",41.4092758094591;2.24786162179945,C,F,[english],asian,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
6,6,44,"[nurse, physio, cpr]",41.2965206008947;2.16001633375526,C,F,"[english, spanish]",white,"[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
7,7,28,[doctor],41.2980521776798;2.26488244348681,B,F,"[english, spanish]",latin-american,"[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
8,8,27,"[nurse, doctor, physio]",41.2902486755464;1.98513272094305,A,F,"[english, spanish]",white,"[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, ..."
9,9,45,"[basic, nurse]",41.4255770243766;2.13520828449359,A,M,[english],asian,"[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, ..."
10,10,57,"[physio, doctor, basic]",41.2902486755464;1.98513272094305,C,F,"[spanish, english]",asian,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
11,11,27,"[physio, cpr, nurse]",41.4255770243766;2.07977758336782,C,M,"[english, spanish]",latin-american,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, ..."

In [61]:
#usuaris

df_usuaris = pd.DataFrame()

df_usuaris['Id'] = [x for x in range(U)]
df_usuaris['Age'] = [randint(70, 90) for x in range(U)]
df_usuaris['Location'] = [";".join(x) for x in zip(*[sample(lat,U), sample(long,U)])]
#df_usuaris['Region'] = np.random.choice(religion_labels, U)
df_usuaris['Gender'] = np.random.choice(gender_labels, U)
df_usuaris['Languages'] = np.random.choice(race_labels, U)#create_random_labels(languages_labels, 1, 1, U)
df_usuaris['Race'] = np.random.choice(race_labels, U)

#df_usuaris

In [121]:
#services

def serviceTimeSlot(dist=dist):
    repetitions = 1
    duration = randint(2, 5)
    slot = randint(0,99)
    for i in range(len(dist)):
        if slot<dist[i]:
            day = [0]*i+[1]*duration+[0]*(len(dist)-duration-i)
            if len(day)>12:
                day = day[-12:]
            break
    service = [day]*repetitions+[[0]*12]*(5-repetitions)
    shuffle(service)
    return np.array(service)

def serviceCreation():
    df_serveis = pd.DataFrame()

    df_serveis['Id'] = [x for x in range(S)]
    df_serveis['user'] = [sample(list(df_usuaris['Id']),1)[0] for x in range(S)]
    df_serveis['Type'] = np.random.choice(type_labels_services, S)#create_random_labels(type_labels, 0, 1, S)
    df_serveis['TimeSlot'] = [serviceTimeSlot() for x in range(S)]
    return df_serveis

df_serveis = None

while df_serveis is None:
    df_serveis = serviceCreation()
    t = df_serveis[['user','TimeSlot']].groupby('user').sum().reset_index()
    valid = True
    for i in range(t.shape[0]):
        if np.sum(t['TimeSlot'][i] > 2) > 0:
            valid = False
    if valid == False:
        df_serveis = None
df_serveis

      Id  user    Type                                           TimeSlot
0      0    15   basic  [[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0], [0, 0, ...
1      1     3   basic  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
2      2    22  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
3      3     7     cpr  [[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
4      4     0   basic  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
..   ...   ...     ...                                                ...
145  145    29  physio  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
146  146    27  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
147  147    19  doctor  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
148  148    24   basic  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
149  149    20   basic  [[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1], [0, 0, ...

[150 rows x 4 columns]

In [72]:
SU = df_serveis[['user
','Id']].groupby(by=['user']).agg(list)['Id'].to_list()

In [73]:
SEQ = df_serveis[['user','Type','Id']].groupby(by=['user','Type']).agg(list)['Id'].to_list()

In [74]:
def sim_score(agent,user,service,non_valid=-1000):
        sim = 0
        if service.Type in agent.Qualifications :
            sim -= user.Age - agent.Age
            if agent.Gender == user.Gender:
                sim += 50
            num_common_lang = len(set(user.Languages) & set(agent.Languages))
            if num_common_lang == 1:
                sim += 100
            if agent.Race == user.Race:
                sim += 25
            sim -= int(distance(agent.Location, user.Location).km)
        else:
             sim = non_valid
        return sim

In [75]:
def compute_quantiles(r,q,non_valid=-1000):
    for (x,y), value in np.ndenumerate(r):
        if value>=q[2]:
            r[x,y]=4
        elif value>=q[1]:
            r[x,y]=3
        elif value>=q[0]:
            r[x,y]=2
        elif value > -1000:
            r[x,y]=1
        else:
            r[x,y]=0
    return r

In [76]:
r = np.ones((A,S))
for a in df_agents.iterrows():
    a=a[1]
    for s in df_serveis.iterrows():
        s=s[1]
        r[a.Id,s.Id] = sim_score(a,df_usuaris.iloc[s.user],s)

r = compute_quantiles(r,np.quantile(r.flatten()[r.flatten()>-1000],[0.25,0.50,0.75]))
np.unique(r, return_counts=True)

(array([0., 1., 2., 3., 4.]), array([1120,  166,  170,  169,  175]))

In [68]:
np.sum(r,axis=1)

array([147., 209., 183.,  49.,  37.,  95., 172.,  37., 115., 238., 294.,
       144.])

In [ ]:
with open('instance.txt', 'w') as f:
    f.write('#U\n')
    f.write(str(U)+'\n')
    f.write('#S'+'\n')
    f.write(str(S)+'\n')
    f.write('#A\n')
    f.write(str(A)+'\n')
    f.write('#TS\n')
    f.write(str(TS)+'\n')
    f.write('#SU\n')
    for e in SU:
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#SEQ\n')
    for e in SEQ:
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSA(i)\n')
    for e in df_agents['TSA'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSS(i)\n')
    for e in df_serveis['TimeSlot'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#r(i,j)\n')
    for e in r.tolist():
        f.write(str(e).replace('[','').replace(']','').replace(',','').replace('.0','')+'\n')
    f.write('#P\n-1\n#HN(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write(str(sum(e))+'\n')
        else:
            f.write('35\n')
    f.write('#HE(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write('0\n')
        else:
            f.write(str(sum(e)-35)+'\n')