### 5,10, 15 agentes

- Age [25,60]
- Qualifications [0,4] "nurse;cpr;physio;doctor"
- Location ????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- Availabilities "15;39"

### 5, 8, 10 servicios

- Age [70,90]
- Type [0,4] "nurse;cpr;physio;doctor"
- Location ?????
- Religion A,B,C
- Gender M/F
- Languages [1,3] spanish, catalan, english
- Race white, latin-american, black or asian
- TimeSlot dos numeros entre 15 i 39

In [1]:
import pandas as pd
import numpy as np
from random import randrange,sample,randint,shuffle
from geopy.distance import distance

U = 30 #Nombre d'usuaris
A = 12 #Nombre d'agents
S = 120 #Nombre de serveis
TS = 12*5 #Nombre de time slots
dist = [2.5,5,15,25,35,45,60,70,80,90,95,100]

gender_labels = ['M','F']
religion_labels = ['A','B','C']
languages_labels = ["spanish", "catalan", "english"]
type_labels = ["","nurse", "cpr", "physio", "doctor"]
race_labels = ["white", "latin-american", "black", "asian"]

lat =[
"41.3815752781548","41.3559120196836","41.3482745236520","41.4629832100058",
"41.4205718274176","41.4200823434142","41.4410422907494","41.4131703459941",
"41.3680119940713","41.2902486755464","41.2965206008947","41.2980521776798",
"41.2986079051265","41.4255770243766","41.4092758094591", "41.3815752781548",
"41.3559120196836","41.3482745236520","41.4629832100058","41.4205718274176",
"41.4200823434142","41.4410422907494","41.4131703459941","41.3680119940713",
"41.2902486755464","41.2965206008947","41.2980521776798","41.2986079051265",
"41.4255770243766","41.4092758094591"]

long =[
"1.98513272094305","2.11713228334789","2.26488244348681","2.24786162179945",
"2.15257024090813","2.07977758336782","2.13520828449359","2.25664519810334",
"2.16001633375526","2.21418980601852","2.09379793713258","2.20410100139758",
"2.14110807067940","2.14907409962812","2.25351119355848","1.98513272094305",
"2.11713228334789","2.26488244348681","2.24786162179945","2.15257024090813",
"2.07977758336782","2.13520828449359","2.25664519810334","2.16001633375526",
"2.21418980601852","2.09379793713258","2.20410100139758","2.14110807067940",
"2.14907409962812","2.25351119355848" ]

/var/folders/_p/k8yxl8dn63gc1cwm32y9xbsh0000gn/T/ipykernel_96504/2630055961.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def create_random_labels(labels, min_labels, max_labels, num):
    rows = []
    for i in range(num):
        rows.append([x for x in sample(labels, randrange(min_labels,max_labels+1))])
    return rows

In [3]:

df_agents = pd.DataFrame()

df_agents['Id'] = [x for x in range(A)]
df_agents['Age'] = [randint(25, 60) for x in range(A)]
df_agents['Qualifications'] = create_random_labels(type_labels, 0, 3, A)
df_agents['Location'] = [";".join(x) for x in zip(*[sample(lat,A), sample(long,A)])]
df_agents['Region'] = np.random.choice(religion_labels, A)
df_agents['Gender'] = np.random.choice(gender_labels, A)
df_agents['Languages'] = create_random_labels(languages_labels, 1, 2, A)
df_agents['Race'] = np.random.choice(race_labels, A)

TSA = []
for a in range(A):
    hours=randint(4, 12)
    if randint(0,1):
        TSA.append(([1]*hours+[0]*(12-hours))*5)
    else:
        TSA.append(([0]*(12-hours)+[1]*hours)*5)

df_agents['TSA'] = TSA

df_agents

,Id,Age,Qualifications,Location,Region,Gender,Languages,Race,TSA
0,0,25,"[, physio]",41.4092758094591;2.07977758336782,B,F,"[english, catalan]",white,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
1,1,57,[doctor],41.4410422907494;1.98513272094305,C,M,[catalan],white,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, ..."
2,2,47,[],41.4629832100058;2.15257024090813,A,M,"[english, catalan]",asian,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, ..."
3,3,43,[physio],41.3680119940713;2.24786162179945,C,F,[spanish],white,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, ..."
4,4,57,[nurse],41.3482745236520;1.98513272094305,A,F,[spanish],asian,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ..."
5,5,56,[],41.4131703459941;2.14110807067940,A,M,"[english, spanish]",latin-american,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, ..."
6,6,55,[],41.2902486755464;2.14907409962812,C,F,[spanish],asian,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
7,7,25,"[nurse, doctor]",41.2986079051265;2.13520828449359,C,F,[spanish],black,"[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
8,8,40,"[nurse, cpr, physio]",41.3680119940713;2.09379793713258,A,F,"[spanish, catalan]",white,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."
9,9,36,[],41.2980521776798;2.20410100139758,A,M,"[catalan, spanish]",white,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ..."
10,10,34,[],41.3482745236520;2.09379793713258,B,M,"[english, spanish]",asian,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
11,11,46,"[, doctor]",41.4410422907494;2.11713228334789,A,M,[english],black,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, ..."

In [4]:
#usuaris

df_usuaris = pd.DataFrame()

df_usuaris['Id'] = [x for x in range(U)]
df_usuaris['Age'] = [randint(70, 90) for x in range(U)]
df_usuaris['Location'] = [";".join(x) for x in zip(*[sample(lat,U), sample(long,U)])]
#df_usuaris['Region'] = np.random.choice(religion_labels, U)
df_usuaris['Gender'] = np.random.choice(gender_labels, U)
df_usuaris['Languages'] = np.random.choice(race_labels, U)#create_random_labels(languages_labels, 1, 1, U)
df_usuaris['Race'] = np.random.choice(race_labels, U)

df_usuaris

,Id,Age,Location,Gender,Languages,Race
0,0,81,41.3559120196836;1.98513272094305,M,asian,black
1,1,78,41.4200823434142;2.25351119355848,F,asian,black
2,2,82,41.4629832100058;2.16001633375526,F,black,latin-american
3,3,78,41.3559120196836;2.25664519810334,M,white,asian
4,4,70,41.4255770243766;2.14110807067940,F,white,black
5,5,74,41.4205718274176;2.14907409962812,M,latin-american,asian
6,6,85,41.4131703459941;2.21418980601852,M,black,latin-american
7,7,76,41.4255770243766;2.11713228334789,M,asian,white
8,8,73,41.4092758094591;2.20410100139758,M,latin-american,white
9,9,78,41.2986079051265;2.25664519810334,M,asian,black
10,10,90,41.2902486755464;2.26488244348681,F,white,asian
11,11,77,41.2965206008947;2.14110807067940,F,white,latin-american
12,12,76,41.4410422907494;2.13520828449359,M,latin-american,asian
13,13,73,41.4131703459941;2.26488244348681,M,white,asian
14,14,90,41.4629832100058;2.15257024090813,M,asian,white
15,15,89,41.4205718274176;2.07977758336782,M,asian,asian
16,16,89,41.4200823434142;2.25351119355848,F,asian,white
17,17,72,41.3815752781548;2.09379793713258,F,latin-american,asian
18,18,72,41.3680119940713;2.09379793713258,F,latin-american,white
19,19,82,41.2980521776798;2.16001633375526,F,white,white
20,20,70,41.2965206008947;2.13520828449359,M,asian,white
21,21,89,41.2980521776798;2.21418980601852,F,latin-american,black
22,22,83,41.3680119940713;2.20410100139758,M,white,white
23,23,89,41.3815752781548;2.11713228334789,M,white,white
24,24,70,41.4092758094591;2.07977758336782,M,asian,asian
25,25,90,41.2986079051265;2.14907409962812,M,latin-american,black
26,26,73,41.4410422907494;2.24786162179945,M,latin-american,asian
27,27,83,41.2902486755464;2.15257024090813,F,asian,latin-american
28,28,84,41.3482745236520;2.24786162179945,M,asian,latin-american
29,29,75,41.3482745236520;1.98513272094305,F,latin-american,latin-american

In [5]:
#services

def serviceTimeSlot(dist=dist):
    repetitions = 1
    duration = randint(1, 4)
    slot = randint(0,99)
    for i in range(len(dist)):
        if slot<dist[i]:
            day = [0]*i+[1]*duration+[0]*(len(dist)-duration-i)
            if len(day)>12:
                day = day[-12:]
            break
    service = [day]*repetitions+[[0]*12]*(5-repetitions)
    shuffle(service)
    return service

df_serveis = pd.DataFrame()

df_serveis['Id'] = [x for x in range(S)]
df_serveis['user'] = [sample(list(df_usuaris['Id']),1)[0] for x in range(S)]
df_serveis['Type'] = np.random.choice(type_labels, S)#create_random_labels(type_labels, 0, 1, S)
df_serveis['TimeSlot'] = [serviceTimeSlot() for x in range(S)]

df_serveis
#df.to_csv("services_" + str(num) + ".csv", sep = ";",index=False)

      Id  user    Type                                           TimeSlot
0      0     5          [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
1      1    21          [[0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0], [0, 0, ...
2      2    14  physio  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, ...
3      3     7          [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
4      4    25          [[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0], [0, 0, ...
..   ...   ...     ...                                                ...
115  115    15  physio  [[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0], [0, 0, ...
116  116    28          [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
117  117     3     cpr  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
118  118     8   nurse  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...
119  119    16          [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, ...

[120 rows x 4 columns]

In [6]:
SU = df_serveis[['user','Id']].groupby(by=['user']).agg(list)['Id'].to_list()
SU

[[6, 105, 108, 113],
 [26, 28, 42, 101],
 [12, 68, 87],
 [10, 30, 67, 117],
 [20, 58],
 [0, 38, 44, 54, 79, 109],
 [5, 15, 19, 27, 33, 41, 76, 77, 85, 98],
 [3, 18, 32, 43, 48, 51, 104],
 [62, 118],
 [55, 96, 97, 102],
 [7, 11, 16, 37, 52, 73, 89, 95, 107],
 [45, 82],
 [8, 31, 46, 71, 114],
 [22, 106],
 [2, 21, 56, 64, 66, 92],
 [49, 69, 115],
 [23, 40, 65, 83, 119],
 [9, 36, 70, 93, 103, 110],
 [14, 34, 35, 47, 57],
 [17],
 [1, 13],
 [88],
 [50, 63, 100],
 [74, 86],
 [4, 29, 72, 91, 112],
 [75, 78, 81, 84],
 [80],
 [24, 25, 39, 60, 90, 94, 99, 116],
 [53, 59, 61, 111]]

In [7]:
SEQ = df_serveis[['user','Type','Id']].groupby(by=['user','Type']).agg(list)['Id'].to_list()
SEQ

[[6, 105, 113],
 [108],
 [42],
 [101],
 [26, 28],
 [68],
 [12, 87],
 [117],
 [67],
 [10, 30],
 [20],
 [58],
 [0],
 [79],
 [54],
 [44],
 [38, 109],
 [27, 33],
 [76],
 [19, 77, 85],
 [5, 15, 41, 98],
 [3, 18],
 [43, 104],
 [51],
 [32, 48],
 [62],
 [118],
 [96, 102],
 [97],
 [55],
 [11, 16, 73],
 [52],
 [89, 107],
 [7],
 [37, 95],
 [45],
 [82],
 [114],
 [71],
 [31, 46],
 [8],
 [22],
 [106],
 [21, 64],
 [56],
 [92],
 [2, 66],
 [69],
 [49, 115],
 [119],
 [83],
 [23, 40, 65],
 [103],
 [93],
 [70, 110],
 [9, 36],
 [34],
 [35, 57],
 [14, 47],
 [17],
 [1],
 [13],
 [88],
 [50, 63, 100],
 [74],
 [86],
 [4],
 [91, 112],
 [29, 72],
 [81],
 [75, 78],
 [84],
 [80],
 [60, 99, 116],
 [24],
 [25, 39],
 [94],
 [90],
 [53],
 [61],
 [59, 111]]

In [8]:
def sim_score(agent,user,service,non_valid=-1000):
        sim = 0
        if service.Type in agent.Qualifications :
            sim -= user.Age - agent.Age
            if agent.Gender == user.Gender:
                sim += 50
            num_common_lang = len(set(user.Languages) & set(agent.Languages))
            if num_common_lang == 1:
                sim += 100
            if agent.Race == user.Race:
                sim += 25
            sim -= int(distance(agent.Location, user.Location).km)
        else:
             sim = non_valid
        return sim

In [9]:
def compute_quantiles(r,q,non_valid=-1000):    
    for (x,y), value in np.ndenumerate(r):
        pass
        if value>=q[2]:
            r[x,y]=4
        elif value>=q[1]:
            r[x,y]=3
        elif value>=q[0]:
            r[x,y]=2
        elif value > -1000:
            r[x,y]=1
        else:
            r[x,y]=0
    return r

In [10]:
r = np.ones((A,S))
for a in df_agents.iterrows():
    a=a[1]
    for s in df_serveis.iterrows():
        s=s[1]
        r[a.Id,s.Id] = sim_score(a,df_usuaris.iloc[s.user],s)

r = compute_quantiles(r,np.quantile(r.flatten()[r.flatten()>-1000],[0.25,0.50,0.75]))
np.unique(r, return_counts=True)

(array([0., 1., 2., 3., 4.]), array([1120,   75,   85,   79,   81]))

In [11]:
with open('instance.txt', 'w') as f:
    f.write('#U\n')
    f.write(str(U)+'\n')
    f.write('#S'+'\n')
    f.write(str(S)+'\n')
    f.write('#A\n')
    f.write(str(A)+'\n')
    f.write('#TS\n')
    f.write(str(TS)+'\n')
    f.write('#SU\n')
    for e in SU:
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')    
    f.write('#SEQ\n')
    for e in SEQ:
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSA(i)\n')
    for e in df_agents['TSA'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#TSS(i)\n')
    for e in df_serveis['TimeSlot'].to_list():
        f.write(str(e).replace('[','').replace(']','').replace(',','')+'\n')
    f.write('#r(i,j)\n')
    for e in r.tolist():
        f.write(str(e).replace('[','').replace(']','').replace(',','').replace('.0','')+'\n')
    f.write('#P\n-1\n#HN(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write(str(sum(e))+'\n')
        else:
            f.write('35\n')
    f.write('#HE(i)\n')
    for e in df_agents['TSA'].to_list():
        if sum(e)<=35:
            f.write('0\n')
        else:
            f.write(str(sum(e)-35)+'\n')